<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>製品一覧</title>

    <link rel="icon" th:href="@{/icon/ForestLink.ico}">
    <link th:href="@{/css/content.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/list.css}" rel="stylesheet">

</head>

<body>

    <div th:replace="~{block/bar}"></div>
    <div class="content">
		
		<div class="flex">
			
			<div class="left">
				<h3><b>製品一覧</b></h3>
				<p th:text="${complete}" class="text-info"></p>
				<p th:text="${productCount}"></p>
			</div>
			
			<div class="right">
				<a type="button" th:href="@{/product/insert}" class="btn btn-info">新規製品作成</a>
			</div>
			
		</div>
		
		<div class="contentControl">
						
			<div class="contentLeft">
				
				<table class="table table-striped">
					<thead>
    					<tr>
      						<th scope="col">ID</th>
      						<th scope="col">製品種別</th>
      						<th scope="col">取扱参加企業</th>
      						<th scope="col">詳細</th>
      						<th scope="col">更新</th>
    					</tr>
    			
    					<tr th:each="product:${productList}">
							<td th:text="${product.product_id}"></td>
							<td th:text="${product.producttype.producttype}"></td>
							<td><a th:href="@{/entryEnterprise/detail/{entryenterprise_id}(entryenterprise_id=*{product.enterprise_id})}" th:text="*{product.entryenterprise.enterprisename}"></a></td>
							<td><a type="button" th:href="@{/product/detail/{product_id}(product_id=${product.product_id})}" class="btn btn-outline-primary">詳細</a></td>
							<td><a type="button" th:href="@{/product/update/{product_id}(product_id=${product.product_id})}" class="btn btn-outline-success">更新</a></td>
						</tr>
  					</thead>
				</table>
			</div>
			
			
			<div class="contentRight">
				<div class="card" style="width: 18rem;">
  					<div class="card-header">
    					<b>絞り込み検索</b>
  					</div>
  					<div class="card-body">
    					
    					<form action="#" th:action="@{/filteredProduct}" th:object="${productFilter}">
					
							<div class="mb-3">
								<label for="enterprise_id" class="form-label">取扱参加企業</label>
								<select class="form-control" id="enterprise_id" name="enterprise_id">
  									<option value="0">すべて</option>
  									<option th:each="entryenterprise:${entryenterpriseList}" 
										th:value="${entryenterprise.enterprise_id}" 
										th:text="${entryenterprise.enterprisename}" 
										th:selected="${productFilter.enterprise_id == entryenterprise.enterprise_id}">
									</option>
								</select>
							</div>
							
							<div class="mb-3">
								<label for="producttype_id" class="form-label">製品種別</label>
								<select class="form-control" id="producttype_id" name="producttype_id">
  									<option value="0">すべて</option>
  									<option th:each="producttype:${producttypeList}" 
										th:value="${producttype.producttype_id}" 
										th:text="${producttype.producttype}" 
										th:selected="${productFilter.producttype_id == producttype.producttype_id}">
									</option>
								</select>
							</div>
							
							<div class="mb-3">
								<label for="breed_id" class="form-label">品種</label>
								<select class="form-control" id="breed_id" name="breed_id">
  									<option value="0">すべて</option>
  									<option th:each="breed:${breedList}" 
										th:value="${breed.breed_id}" 
										th:text="${breed.breed}" 
										th:selected="${productFilter.breed_id == breed.breed_id}">
									</option>
								</select>
							</div>
							
							<div class="text-center">
								<input type="submit" class="btn btn-primary w-50" value="絞り込み検索">
							</div>
							
						</form>
    					
  					</div>
				</div>
				
			</div>
			
		</div>
		
    </div>

</body>

</html>
