<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="icon" th:href="@{/icon/ForestLink.ico}">
    <link th:href="@{/css/content.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/logout.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/detail.css}" rel="stylesheet">
    <script th:src="@{/js/confirmPop.js}"></script>
    
</head>

<body>

    <div th:replace="~{block/bar}"></div>
    <div class="content">
		
		<div class="left">
			<h3><b th:text="${title}"></b></h3>
		</div>
		
		<div class="detail" th:object="${stockDetail}">
			<table class="table">
				<thead>
    				<tr>
      					<th scope="col">項目</th>
      					<th scope="col">値</th>
    				</tr>
  				</thead>
  				
				<tr>
					<td>在庫ID</td>
					<td th:text="*{stock_id}"></td>
				</tr>
				<tr>
					<td>所有参加企業</td>
					<td>
						<a th:href="@{/entryEnterprise/detail/{enterprise_id}(enterprise_id=*{enterprise_id})}" th:text="*{enterprise.enterprisename}"></a>
					</td>
				</tr>
				<tr>
					<td>製品ID</td>
					<td>
						<a th:href="@{/product/detail/{product_id}(product_id=*{product_id})}" th:text="*{product_id}"></a>
					</td>
				</tr>
				<tr>
					<td>在庫種別</td>
					<td th:text="*{stocktype}"></td>
				</tr>
				<tr>
					<td>在庫状態</td>
					<td th:text="*{stockstatus.stockstatus}"></td>
				</tr>
				<tr>
					<td>製品種別</td>
					<td th:text="*{producttype.producttype}"></td>
				</tr>
				<tr>
					<td>品種</td>
					<td th:text="*{breed.breed}"></td>
				</tr>
				<tr>
					<td>在庫責任者ユーザー</td>
					<td>
						<a th:href="@{/user/detail/{liabilityuser_id}(liabilityuser_id=*{liabilityuser_id})}" th:text="*{user.username}"></a>
					</td>
				</tr>
				<tr>
					<td>在庫数</td>
					<td th:text="*{stockcount}"></td>
				</tr>
				<tr>
					<td>アーカイブ</td>
					<td th:text="*{archive}"></td>
				</tr>
				
			</table>
    	</div>

    </div>

</body>

</html>
