<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>外部取引先人材一覧</title>

    <link rel="icon" th:href="@{/icon/ForestLink.ico}">
    <link th:href="@{/css/content.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/list.css}" rel="stylesheet">

</head>

<body>

    <div th:replace="~{block/bar}"></div>
    <div class="content">
		
		<div class="flex">
			
			<div class="left">
				<h3><b>外部取引先人材一覧</b></h3>
				<p th:text="${complete}" class="text-info"></p>
				<p th:text="${userCount}"></p>
			</div>
			
			<div class="right">
				<a type="button" th:href="@{/partnerUser/insert}" class="btn btn-info">新規外部企業作成</a>
			</div>
			
		</div>
		
		<div class="contentControl">
						
			<div class="contentLeft">
				
				<table class="table table-striped">
					<thead>
    					<tr>
      						<th scope="col">ID</th>
      						<th scope="col">外部取引先人材名</th>
      						<th scope="col">所属企業</th>
      						<th scope="col">詳細</th>
      						<th scope="col">更新</th>
    					</tr>
    			
    					<tr th:each="userList:${userList}">
							<td th:text="${userList.user_id}"></td>
							<td th:text="${userList.username}"></td>
							<td><a th:href="@{/partnerEnterprise/detail/{partnerenterprise_id}(partnerenterprise_id=*{userList.enterprise_id})}" th:text="*{userList.enterprise.enterprisename}"></a></td>
							<td><a type="button" th:href="@{/partnerUser/detail/{user_id}(user_id=${userList.user_id})}" class="btn btn-outline-primary">詳細</a></td>
							<td><a type="button" th:href="@{/partnerUser/update/{user_id}(user_id=${userList.user_id})}" class="btn btn-outline-success">更新</a></td>
						</tr>
  					</thead>
				</table>
			</div>
			
			
			<div class="contentRight">
				<div class="card" style="width: 18rem;">
  					<div class="card-header">
    					<b>絞り込み検索</b>
  					</div>
  					<div class="card-body">
    					
    					<form action="#" th:action="@{/filteredPartnerUser}" th:object="${userFilter}">
					
							<div class="mb-3">
								<label for="enterprise_id" class="form-label">所属企業</label>
								<select class="form-control" id="enterprise_id" name="enterprise_id">
  									<option value="0">すべて</option>
  									<option th:each="enterprise:${enterpriseList}" 
										th:value="${enterprise.enterprise_id}" 
										th:text="${enterprise.enterprisename}" 
										th:selected="${userFilter.enterprise_id == enterprise.enterprise_id}">
									</option>
								</select>
							</div>
							
							<div class="text-center">
								<input type="submit" class="btn btn-primary w-50" value="絞り込み検索">
							</div>
							
						</form>
    					
  					</div>
				</div>
				
			</div>
			
		</div>
		
    </div>

</body>

</html>
