<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="icon" th:href="@{/icon/ForestLink.ico}">
    <link th:href="@{/css/content.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/list.css}" rel="stylesheet">

</head>

<body>

    <div th:replace="~{block/bar}"></div>
    <div class="content">
		
		<div class="flex">
			
			<div class="left">
				<h3><b th:text="${title}"></b></h3>
				<p th:text="${complete}" class="text-info"></p>
				<p th:text="${userCount}"></p>
			</div>
			
		</div>
		
		<div class="contentControl">
						
				
				<table class="table table-striped">
					<thead>
    					<tr>
      						<th scope="col">ID</th>
      						<th scope="col">ユーザー名</th>
      						<th scope="col">所属企業</th>
      						<th scope="col">詳細</th>
    					</tr>
    			
    					<tr th:each="userList:${userList}">
							<td th:text="${userList.user_id}"></td>
							<td th:text="${userList.username}"></td>
							<td><a th:href="@{/partnerEnterprise/detail/{enterprise_id}(enterprise_id=*{userList.enterprise_id})}" th:text="*{userList.enterprise.enterprisename}"></a></td>
							<td><a type="button" th:href="@{/partnerUser/detail/{user_id}(user_id=${userList.user_id})}" class="btn btn-outline-primary">詳細</a></td>
						</tr>
  					</thead>
				</table>
			
		</div>
		
    </div>

</body>

</html>
