<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="icon" th:href="@{/icon/ForestLink.ico}">
    <link th:href="@{/css/content.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/insert.css}" rel="stylesheet">
	<script th:src="@{/js/confirmPop.js}"></script>
     
    
</head>

<body>

    <div th:replace="~{block/bar}"></div>
    <div class="content">
		
		<div class="contentControl">
			<div class="card">
  				<div class="card-body">
    					
    				<h4 class="text-info" th:text="${title}"></h4>
    				
    				<form action="#" th:action="${producttypeForm.newProducttype}?@{/masterData/producttype/insert}:@{/masterData/producttype/update}" method="POST" th:object="${producttypeForm}">
						
						<div class="mb-3">
							<label for="producttype" class="form-label">製品種別<span class="text-danger">*</span></label>
  							<input type="text" class="form-control" id="producttype" placeholder="製品種別" name="producttype" th:value="*{producttype}">
  							<div th:if="${#fields.hasErrors('producttype')}" th:errors="*{producttype}" class="text-danger"></div><br>
						</div>
						
						<input th:if="${producttype_id}" type="hidden" name="producttype_id" th:value="${producttype_id}">
						
						<div th:if="${producttypeForm.newProducttype}">
							<div class="mb-3">
  								<input type="submit" class="btn btn-primary w-50" value="登録">
							</div>
						</div>
						
						<div th:if="${!producttypeForm.newProducttype}">
							<div class="mb-3">
  								<input type="submit" class="btn btn-primary w-50" value="更新" onclick="return confirmDelete('更新しますか？');">
							</div>
						</div>
						
					</form>
					
					<div th:if="${!producttypeForm.newProducttype}" class="delete">
						<form  action="#" th:action="@{/masterData/producttype/delete}" method="POST">
							<input type="hidden" name="producttype_id" th:value="${producttype_id}">
							<input type="submit" class="btn btn-danger w-50" value="削除" onclick="return confirmDelete('削除しますか？');">
						</form>
					</div>
    					
  				</div>
			</div>
		</div>
    </div>

</body>

</html>
