<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>404NotFound</title>

<link rel="icon" th:href="@{/icon/ForestLink.ico}">
<link th:href="@{/css/content.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
	
	<div th:replace="~{block/bar}"></div>
	<div class="content">
		<h3>404NotFound：ページが見つかりません。</h3>
		<a th:href="@{/home}">ホームへ戻る</a>
	</div>

</body>
</html>